<%- include('../layouts/adminHeader') %>

<h2 class="page-title">Admin Add A Product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all Products</a>
<br /><br />

<h1>Welcome To Admin Page</h1>

<form
  method="post"
  action="/admin/products/add-product"
  enctype="multipart/form-data"
>
  <div class="form-group">
    <label for="Title"></label>
    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Title"
      value="<%= title %>"
    />
  </div>

  <div class="form-group">
    <label for="Description"></label>
    <textarea name="desc" class="form-control" cols="30" rows="10">
<%= desc %></textarea
    >
  </div>

  <div class="form-group">
    <label for="Cartegory"></label>
    <select name="cartegory" class="form-control">
      <% cartegories.forEach(function(cat) { %>
      <option value="<%= cat.slug %>"><%= cat.title %></option>
      <% } ); %>
    </select>
  </div>

  <div class="form-group">
    <label for="Price"></label>
    <input
      type="text"
      name="price"
      class="form-control"
      placeholder="Price"
      value="<%= price %>"
    />
  </div>

  <div class="form-group">
    <label for="Image"></label>
    <input type="file" name="image" class="form-control" id="img" />
    <img src="#" alt="" id="imgPreview" />
  </div>

  <button class="btn btn-primary" aria-placeholder="Write some content">
    Submit
  </button>
</form>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      let reader = new FileReader();

      reader.onload = function (e) {
        $("#imgPreview").attr("src", e.target.result).width(100).height(100);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#img").change(function () {
    readURL(this);
  });
</script>

<%- include('../layouts/adminFooter') %>
